@import './variables.scss';

.morph-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $charcoal;
}

.morph {
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  flex: none;
}